.THIS .slds-form-element__label {
    /*font-weight: bold;*/
}
/*.THIS .slds-page-header {
    padding: 1rem;
    border-bottom: 0 solid #dddbda;
    border-radius: 0.25rem;
    background: #fff;
    background-clip: padding-box;
    box-shadow: none;
    border: 0 solid #dddbda;
}*/
.THIS .MultiplePurchaseOrder-newClass6{
    background: #fff;
    border: 0 solid #f7f7f7;
    margin: 10px;
}
.THIS  .background-success {
    background: #00a9bd!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}
.THIS .background-new {
     border-radius: 3px;
    background: #289cf5!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color: #fff;
}
.THIS .background-inprogress {
    border-radius: 3px;
    background: #fda23f!important;
    box-shadow: .3rem .325rem .40rem rgba(0, 0, 0, .075)!important;
    font-size: 12px;
    color: #fff;
}
.THIS .manageLeave-newClass17{
 	font-weight:bold; font-size: 13px;
}      
.THIS .manageLeave-newClass18{
 	font-weight:bold; font-size: 15px;
} 
.THIS .multipurchaseorder-class1{
    padding:.5rem !important;
}
.THIS .erp_mark7 .THIS .slds-button--brand {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    background-color: #31d0e5 !important;
    border: 1px solid #31d0e5 !important;
    color:white !important; }
    .THIS .erp_mark7 .slds-button--brand:link, .THIS .erp_mark7 .THIS .slds-button--brand:visited, .THIS .erp_mark7 .THIS .slds-button--brand:active {
      color: white !important; }
    .THIS .erp_mark7 .THIS .slds-button--brand:hover, .THIS .erp_mark7 .THIS .slds-button--brand:focus {
      background-color: #65d6e5 !important;
      color: white ; }
    .THIS .erp_mark7 .THIS .slds-button--brand:active {
      background-color: #31d0e5; }
    .THIS .erp_mark7 .THIS .slds-button--brand[disabled] {
      background: #e0e5ee;
      border-color: transparent;
      color: white !important;; }
     .THIS .erp_mark7 .THIS .slds-button--neutral {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6 !important;
    background-color: white !important; }
    .THIS .erp_mark7 .THIS .slds-button--neutral:hover, .THIS .erp_mark7 .THIS .slds-button--neutral:focus {
      background-color: #f4f6f9; }
    .THIS .erp_mark7 .THIS .slds-button--neutral:active {
      background-color: #eef1f6; }
    .THIS .erp_mark7 .THIS .slds-button--neutral[disabled] {
      background-color: white !important;
      cursor: default; }
           
        .THIS .textarea{
        margin: 0px;
        width: 100%;
        height: 60px;
        border: 1px solid #ddd;
        border-radius: 3px;
        }
        .THIS .input {
        
        border-radius: 5px;
        /*padding: 5px;*/
        width: 100%;
        height:32px;
        padding-left:10px;
        }
        
        .THIS .epr_Mark7 .row {
        margin-right: 0px;
        margin-left: 0px;
        }
        
        .THIS .dateFormat {
        padding: 0 2px;
        display: none;
        }
        
        .THIS .epr_Mark7 .nav>li>a:hover,
        .THIS .epr_Mark7 .nav>li>a:focus {
        background-color: transparent !important;
        }
        
        .THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a,
        .THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:hover,
        .THIS .epr_Mark7 .navbar-default .navbar-nav>.active>a:focus {
        color: #555;
        background-color: #ffffff;
        }
        
        .THIS .epr_Mark7 .active {
        background: none;
        }
        
		.THIS .mainSpinClass{
            width: 100%;
            height: 100%;
        }

        

        .THIS .input {
        padding-top: 0;
       
        border-radius: 5px;
        /*padding: 5px;*/
        }
        .THIS .required {
        color:red;
     }
.THIS .hasError{
	border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important; 
}
.THIS .thButton{
    width: 7%;
}


.THIS .cpr-class1{
    background-color: #FFF;
}

.THIS .cpr-class2{
    cursor:pointer;
    width:35px;
    height:35px;
}

.THIS .cpo-class3{
    width:200px;
    float:left;
}
/*.THIS .cpr-class3{
    padding:10px;
}*/

.THIS .cpr-class4{
    overflow:auto;
    max-height:200px;
}

.THIS .cpr-class5{
    margin-bottom:0; 
    float:left;
    width:100%;
}

.THIS .cpr-class6{
    top: 15%;
    display:block;
}

.THIS .cpr-class7{
    top: 15%;
    display:none;
}

.THIS .cpr-class8{
    min-width: 20rem;
    padding: 5px;
}

.THIS .cpr-class9{
    margin-bottom:0px;font-size: 13px;margin-right:50px;
}
.THIS .textdeccolor{
    text-decoration:none; color:#fff;
}


.THIS .cpr-class11{
    float:left;
    width:100%;
    padding-top:10px;
    background:#ffffff;
}
.THIS .top15{
    top: 15%;
}

.THIS .cpr-class12{
    margin-bottom:50px;
}

.THIS .cpr-class13{
    width:15%;
}

.THIS .cpr-class14{
   padding-left:0.2px;
    color:red;
}

.THIS .cpr-class15{
    background: rgba(255, 255, 255, 0.57);
}
.THIS .epr_Mark7 input {
    line-height: 1.84rem;
}
.THIS .slds-input[disabled], .THIS  .slds-input.slds-is-disabled {
    background-color: #d7d7d7;
        color: #978e8e;
}