.THIS .Pick-newClass27 {
    position: fixed;
    right: 2%;
    bottom: 10%;
    margin-bottom: 10px;
    z-index: 999;
}
.THIS .border-1{
    border:1px solid #ddd;
}
.THIS .Pick-newClass26 {
  width: 60px !important;height: 62px !important;
    padding: 14px !important;border-radius:100px !important;line-height: 38px !important;
    color:#fff !important;
}
.THIS .theme-bg{
    background: #fafbfe;
}
.THIS .boder-blue-pack{
        border-left: 1px solid #08abed;
    border-radius: 6px;
}
.THIS .outbound-class3 {
padding: 19px 5px !important;
}
.THIS .Pack-newClass5{
   padding: 19px 5px !important;
}
/* The Loader css Starts here */

/* The Loader css ends here */

.THIS .display-lable label {
    display:none;
    margin-bottom: 0.5rem;
}
.THIS .width100 {
    width: 100px;
    color: black !important;
}
.THIS .width200-pack{
    width:200px;
    color: black !important;
}
.THIS .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.THIS .maqship{
    line-height: 1;
    padding-left: 2px;
    color:#006dcc;
    cursor:pointer;
}
.THIS .maqshipText{
    line-height: 1;
    padding-left: 2px;
}
.THIS .floatright{
    float: right !important;
}
.THIS .height30{height:30px !important;}
.THIS .neutralC{padding:0px !important; border:0px !important;outline: none !important;}
.THIS .neutralC:hover{padding:0px !important; border:0px !important;background-color:#fff !important;outline: none !important;}
.THIS .neutralC:active{outline: none !important;    border: none !important;}
.THIS .width12{width: 12%;}
.THIS .maq7{
color:black !important;
}
@media (min-width: 992px){
.THIS .epr_Mark7 .col-md-2 {
        width: 16.66666667%;
        
    }
}
.THIS .epr_Mark7 output {
    display: block;
    padding-top: 0px;
    font-size: 14px;
    line-height: .9;
    color: #555;
    padding-left: 5px;
    padding:12px;
}
.THIS .slds-truncate3{
    max-width: 150px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal !important;
    word-wrap: break-word;
}
@media only screen and (max-width: 480px) {
.THIS .nav-tabs > li > a {
        margin-right: 10px !important;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #0070d2;
        text-transform: uppercase;
    }
.THIS .epr_Mark7 .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
.THIS .mobiledisplaynone{
        
        display:none !important;
        
    }
.THIS .maqheadernavbuttons{
        margin-top: 16% !important;
    }  
.THIS .slds-truncate3{
        max-width: 70px;
        overflow: hidden;
        text-overflow: clip;
        white-space: normal !important;
        word-wrap: break-word;
    }
    
}



@media only screen and (max-width: 768px) {
.THIS .nav-tabs > li > a {
        margin-right: 10px !important;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #0070d2;
        text-transform: uppercase;
    }
    
.THIS .mobiledisplaynone-landscape{
        
        display:none !important;
        
    }
.THIS .maqheadernavbuttons{
        margin-top: 1%;
    }  
    
}     

.THIS .erp_mark7 .slds-theme--info {
    background-color: #5BD6E3;
}
.THIS .epr_Mark7 .row {
    margin-right: 0px;
    margin-left: 0px;
}
.THIS .erp_mark7 .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
}
.THIS .erp_mark7 .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-is-selected), 
.THIS .erp_mark7 .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover>th:not(.slds-is-selected) {
    box-shadow:none;
}
.THIS .erp_mark7 .slds-table {
    background-color: transparent;
}
/*.THIS .erp_mark7 a, 
.THIS .erp_mark7 button {
    cursor: pointer;
    text-decoration:none !important;
    border:0px;
    padding:0px;
}*/
.THIS .erp_mark7 .slds-button--brand2 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #65d6e5;
    border: 1px solid #65d6e5;
    color: #fff;
    height: 35px;
    border: 0px solid #ddd !important;
      text-shadow: none;
    box-shadow: none;
}
.THIS .erp_mark7 .slds-button--brand2:hover, 
.THIS .erp_mark7 .slds-button--brand2:focus {
    background-color: #31d0e5;
    color: white;
}
.THIS .epr_Mark7 h1,  
.THIS .epr_Mark7 .h1, 
.THIS .epr_Mark7 h2, 
.THIS .epr_Mark7 .h2, 
.THIS .epr_Mark7 h3, 
.THIS .epr_Mark7 .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.THIS .epr_Mark7 .table-bordered > thead > tr > th, 
.THIS .epr_Mark7 .table-bordered > tbody > tr > th,  
.THIS .epr_Mark7 .table-bordered > tfoot > tr > th, 
.THIS .epr_Mark7 .table-bordered > thead > tr > td, 
.THIS .epr_Mark7 .table-bordered > tbody > tr > td, 
.THIS .epr_Mark7 .table-bordered > tfoot > tr > td{
    border:1px solid #ffffff;
}
.THIS .epr_Mark7 .table-bordered {
    border: 1px solid #ffffff;
}
.THIS .epr_Mark7 .nav-tabs > li > a {
    margin-right: 70px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color:#0070d2;
    text-transform:uppercase;
}
.THIS .epr_Mark7 .nav>li>a:hover,
.THIS .epr_Mark7 .nav>li>a:focus {        
    text-decoration: none;
    background-color: #fff;
    border-bottom: 2px solid #0070d2!important;
}   
.THIS .epr_Mark7 .nav-tabs > li.active > a,  
.THIS .epr_Mark7 .nav-tabs > li.active > a:hover, 
.THIS .epr_Mark7 .nav-tabs > li.active > a:focus {
    color: #2196f3;
    cursor: default!important;
    background-color: #fff!important;
    border: 0;
    border-bottom: 3px solid #2196f3!important;
}        
.THIS .epr_Mark7 .nav-tabs > li > a:hover {
    border-color: #fff #fff #fff;    
}

.THIS table.dataTable thead th,
.THIS table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #fff;
}

.THIS .slds .slds-table--bordered td {
    border-top: 1px solid #f7f7f7;
}
/*.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td,
.THIS .epr_Mark7 .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f7f7f7;
    max-width:150px;
    word-wrap: break-word;
}*/
.THIS .epr_Mark7 .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #f7f7f7;
    max-width: 100px;
    word-wrap: break-word;
}
.THIS .slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625em;
    color: #54698d;
    font-weight:lighter;
}
@media (max-width: 48em){
.THIS .epr_Mark7 .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 1px solid #f7f7f7;
        max-width: 100% !important;
        word-wrap: break-word;
    }
.THIS .epr_Mark7 .table > thead > tr > th, 
.THIS .epr_Mark7 .table > tbody > tr > th, 
.THIS .epr_Mark7 .table > tfoot > tr > th, 
.THIS .epr_Mark7 .table > thead > tr > td, 
.THIS .epr_Mark7 .table > tbody > tr > td, 
.THIS .epr_Mark7 .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #f7f7f7;
        max-width:100%;
        word-wrap: break-word;
    }
}
.THIS table.dataTable.no-footer {
    border-bottom: 1px solid #fff;
}

@media (min-width: 48em){
.THIS .erp_mark7 .slds-page-header {
        padding: .5rem 1rem;
    }   
}
.THIS .erp_mark7 th.slds-is-sortable {
    cursor: pointer;
}

.THIS input {
    padding-top: 0;
    border: 1px solid #ddd;
    border-radius : 5px;
    padding: 5px;
} 
.THIS .slds .slds-table--bordered td {
    border-top: 1px solid #f7f7f7;
}
.THIS .Pack-newClass1 {
    background:#ffffff;
}
.THIS .Pack-newClass2 {
    cursor:pointer;width:35px;height:35px;
}
.THIS .Pack-newClass3 {
    padding-bottom:0px;
}
.THIS .Pack-newClass4 {
    margin-top: 10px;
}
.THIS .Pack-newClass5 {
    padding: 19px 5px;
}
.THIS .Pack-newClass6 {
    cursor:pointer;
}
.THIS .Pack-newClass7 {
    padding-top: 5px;
}
.THIS .Pack-newClass8 {
    color: #65d6e5;
}
.THIS .Pack-newClass9 {
    padding-left: 5rem;padding-bottom: .5rem;
}
.THIS .Pack-newClass10 {
    color:#0070d2;cursor:pointer;
}
.THIS .Pack-newClass11 {
    padding:0px !important;margin-top:5px;
}
.THIS .Pack-newClass12 {
    font-size: 15px;
}
.THIS .Pack-newClass13 {
    cursor: pointer !important;
}
.THIS .Pack-newClass14 {
    top: 15%;display:none;
}
.THIS .Pack-newClass15 {
   top: 15%;display:Block;
}
.THIS .Pack-newClass16 {
   /*min-width: 20rem;padding: 5px;*/
}
.THIS .Pack-newClass17 {
   margin-bottom:0px;font-size:13px;margin-right:30px;
}
.THIS .Pack-newClass18 {
   top:.25rem;
}
.THIS .Pack-newClass19 {
   cursor:pointer;width:20px;height:20px;
}
.THIS .Pack-newClass20 {
   cursor:pointer;width:20px;height:20px;
}
.THIS .Pack-newClass21 {
   color:#00c6b7;
}
.THIS .Pack-newClass22 {
   padding-top: 3px;
}
.THIS .Pack-newClass23 {
   color:red;
}
.THIS .Pack-newClass24 {
   margin-bottom: 26px;
}
.THIS .Pack-newClass25 {
   font-size:14px;
}
.THIS .Pack-newClass25 {
   display:Block;
}
.THIS .Pack-newClass26 {
   display: none;
}
.THIS .Pack-newClass27 {
   color:#FF0000 !important; font-weight:bold; font-size:15px; margin-left: 500px;
}
.THIS .Pack-newClass28 {
   width:80%;
}
.THIS .Pack-newClass29 {
   margin: 5px !important;color: #ffffff !important;font-weight:bold;
}
.THIS .Pack-newClass30 {
   border: 0px solid #5BD6E3;margin-bottom:50px;
}

.THIS .Pack-newClass32 {
   text-align:center;
}
.THIS .Pack-newClass33 {
   text-align:right;padding-right:0px;
}
.THIS .Pack-newClass34 {
   color: #ffffff;padding-right: 10px;padding-top: 5px;font-weight:bold;
}
.THIS .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color:transparent;
    border-radius: 4px;
}
.THIS .erp_mark7 .slds-button{
    border-radius:1.25rem;
    line-height:1.84rem;
}