.slds-truncate-epos{
		max-width:140px !important;
}
.slds-pill__remove{
		right:3px !important;
}
.no-input-label .slds-form-element__label {
    display: none !important;
}
.slds-form-element__label:empty{
		 display: none !important;
}
.stock-pill {
  background: #289cf5 !important;
  box-shadow: 0.3rem 0.325rem 0.4rem rgba(0, 0, 0, 0.075) !important;
  font-size: 12px;
  padding: 0 13px !important;
  border-radius: 7px !important;
  height: 20px !important;
  line-height: 20px !important;
  width: 100%;
  color: #fff;
}

.btn-lighten-warning {
  border: 1px solid rgba(249, 200, 81, 0.2) !important;
  background-color: rgba(249, 200, 81, 0.25) !important;
  color: #a27e27 !important;
}
.btn-lighten-info {
  border: 1px solid rgba(53, 184, 224, 0.2) !important;
  background-color: rgba(53, 184, 224, 0.25) !important;
  color: #1d7c9a !important;
}
.btn-lighten-success {
  border: 1px solid rgba(16, 196, 105, 0.2) !important;
  background-color: rgba(16, 196, 105, 0.25) !important;
  color: #07723c !important;
}
.erp_mark7 .slds-combobox__input {
  line-height: 28px !important;
}
h1 {
  font-size: 18px;
}
.paddinbtm {
  padding-bottom: 45px;
}
.required {
  color: red;
}
.bg-theme {
  background: #ebeff2;
}
.active {
  color: #50a0ed;
}
.borderRight {
  border-right: 1px solid #ddd;
}
.maqsood .dropdown {
  position: relative;
  display: inline-block;
}
.maqsood .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 324px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  padding: 5px 5px;
  z-index: 1;
  top: -30px;
  min-height: 80px;
  right: 16px;
  border-radius: 10px;
  height: auto;
  font-size: 14px;
}
.disInBlc {
  display: inline-block;
}
.width100 {
  width: 100%;
}
.maqsood .dropdown:hover .dropdown-content {
  display: block;
}
.customfill .slds-icon-text-default {
  fill: white !important;
}
.talignleft {
  text-align: left;
}
.bgGreen {
  background-color: rgb(41, 218, 41);
  text-align: center;
}
.bgRed {
  background-color: red;
  text-align: center;
}
.order-details {
  padding-left: 14px;
  font-size: 14px;
  color: #949393;
}

.erp_mark7 .slds-icon_small,
.erp_mark7 .slds-icon--small {
  width: 1rem !important;
  height: 1rem !important;
  line-height: 1;
}
.yourDiv {
  position: absolute;
  align-items: center;
  color: white;
  background-color: red;
}
.slds-icon_small,
.slds-icon--small {
  width: 1.25rem !important;
  height: 1.25rem !important;
  line-height: 1;
}
.erp_mark7 .slds-input[readonly] {
  padding-left: 5px;
  border-color: #dddbda !important;
  background-color: transparent !important;
  font-size: 0.875rem;
  font-weight: 400;
}
.erp_mark7 .slds-tabs_default__content,
.erp_mark7 .slds-tabs--default__content {
  position: relative;
  padding: 0.5rem 0;
}
.clone-icon-static {
  position: absolute;
  top: 3.5%;
  right: 3%;
}
.tcenter {
  text-align: center;
}
label {
  font-weight: bold;
}
.clickableIcon {
  cursor: pointer;
}
.disableIcon {
  background-color: rgb(169 161 161)!important;
}
.card-box {
  background-color: #fff;
  padding: 0.75rem;
}
.header-title {
  font-size: 1rem;
  margin: 0 0 7px 0;
}
.slds-input[readonly] {
  padding-left: 5px;
  background-color: #ddd;
}
.erp_mark7 .slds-input[readonly] {
  padding-left: 5px !important;
  border-color: #ddd !important;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
}
.erp_mark7 .slds-p-top_medium-custom,
.erp_mark7 .slds-p-top--medium-custom {
  padding-top: 1.2rem;
}
.erp_Mark7 .btn {
  font-size: 0.85rem;
}
.width-100p {
  width: 100%;
}
.slds-alert_warning1 {
  background-color: rgb(254, 147, 57) !important;
  color: rgb(8, 7, 7) !important;
}
.icon-size-warning {
  font-size: 22px;
  margin-right: 10px;
}
.color-white {
  color: #ffffff;
}
.min-height301 {
  min-height: 347px;
}
.h2,
h2 {
  font-size: 1.875rem;
}
.slds-modal__footer {
  border-top: 2px solid #dddbda;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background-color: #f3f2f2;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
}
.blueActive {
  color: #50a0ed !important;
}
.fweight-bold{
  font-weight:bold;
}
.lineitems_Gap{
  height: 300px;
}
.total-bg{
  border-radius: 0.25rem;
      width: 100%;
      transition: border 0.1s linear, background-color 0.1s linear;
      display: inline-block;
      padding: 0 1rem 0 0.75rem;
      line-height: 1.875rem;
      min-height: calc(1.875rem + (1px * 2));
      background-color: #ecebea;
      border-color: #c9c7c5;
      cursor: not-allowed;
  }
  .slds-icon-text-default {
    --slds-c-icon-color-foreground: var(--slds-c-icon-color-foreground-default, var(--slds-s-icon-color-foreground));
    background: #fff;
}
.slds-input[disabled], .slds-input.slds-is-disabled {
    background-color: #dcdcdc;
    border-color: #bebebe;
    color: #969696;
    cursor: not-allowed;
    user-select: none;
}